@import "tailwindcss";



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-parimary : #003366;
  --color-secondary :rgba(0, 0, 0, 0.4);
  --color-third: #c9c9c9;
  --color-fourth: #171719;
}

body{
  background-color: #171717;
}